allow mediaserver system_file:file execmod;
allow mediaserver camera_device:dir r_dir_perms;
allow mediaserver pds_file:dir r_dir_perms;
allow mediaserver audio_device:chr_file { read write ioctl open };
allow mediaserver camera_device:chr_file { read write };

## mediaserver: type=1400 audit(0.0:65): avc: denied { write } for name="flash_light" dev=sysfs ino=13457 scontext=u:r:mediaserver:s0 tcontext=u:object_r:sysfs:s0 tclass=file
allow mediaserver sysfs:file write;
